<h4>通知</h4>
<div id="notification-index">
  <%= render "admin/notifications/index", notifications: @notifications %>
</div>
<div class="search-form">
  <%= render "admin/notifications/search" %>
</div>