<!--ユーザ側　お知らせ一覧-->
<% if notices %>
  <% notices.each do |notice| %>
    <div class="notice-content">
      <%= link_to notice_path(notice) do %>
        <p class="tab"><%= notice.tab %></p>
        <h5><%= notice.created_at.strftime("%Y年%-m月%-d日") %>　<%= notice.title %></h5><br>
      <% end %>
    </div>
  <% end %>
<% end %>
