<!--ユーザ側　お知らせ（タブ部分）-->
<div class="notice-content">
  <% if notice %>
    <% notice.each do |notice| %>
      <%= link_to notice_path(notice) do %>
        <% if notice.images.attached? %>
          <% notice.images.each do |image| %>
            <%= image_tag image.variant(resize: '500x500').processed %> <br>
          <% end %>
        <% end %>
        <p class="tab"><%= notice.tab %></p>
        <h5>　<%= notice.title %></h5><br>
      <% end %>
    <% end %>
  <% end %>
</div>

