// Place all the styles related to the admin/contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**管理者側 お問い合わせ一覧**/
.admin-contacts h5 {
  padding-bottom: 0.5rem;
}
.admin-contacts a {
  color: #e7e7e7;
}
.admin-contacts a:hover p,
.sort:hover {
  opacity: 0.6;
  color: #e7e7e7;
}
.admin-contacts a:hover {
  text-decoration: none;
}
.admin-contacts .row p {
  height: 4.5rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

/**管理者側 お問い合わせ詳細**/
.admin-contact {
  word-break: break-all;
}
.admin-contact h5 {
  margin: 0;
  line-height: 2;
}
.admin-contact p {
  margin: 0;
}
.admin-contact td {
  border: solid #e7e7e7 1px;
  padding: 1rem 2rem;
}
.admin-contact td:nth-child(odd) {
  width: 15rem;
}
.admin-contact td:nth-child(even) {
  text-align: left;
  width: 50rem;
  word-wrap: normal;
}
.contact-status select {
  color: #706A69;
  font-size: 20px;
  margin: 1.5rem 0.5rem 0;
  padding: 0.5rem;
}

/**返信メール テンプレート**/
.mail_to {
  display: inline-block;
  border-bottom: 1px solid #c3c1c1;
  padding: 0 0.3rem;
}
.mail_to:hover {
  opacity: 0.7;
}

/**サクセスメッセージ**/
.notice {
  font-size: 17px;
  background-color: #45403F;
  color: white;
  padding: 0.3rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  opacity: 0.8;
}
