// Place all the styles related to the admin/reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**管理者側 予約一覧**/
.admin-reservations h5 {
  padding-bottom: 0.5rem;
}
.admin-reservations a {
  color: #e7e7e7;
}
.admin-reservations a:hover p,
.sort:hover {
  opacity: 0.6;
  color: #e7e7e7;
}
.admin-reservations a:hover {
  text-decoration: none;
}
