<div class="steps">
  <div class="step">
    <div class="step-content step1">
      <p>STEP1</p>
      <p>空室確認</p>
    </div>
    <span><i class="fas fa-arrow-right"></i></span>
  </div>
  <div class="step">
    <div class="step-content step2">
      <p>STEP2</p>
      <p>客室選択</p>
    </div>
    <span><i class="fas fa-arrow-right"></i></span>
  </div>
  <div class="step">
    <div class="step-content step3">
      <p>STEP3</p>
      <p>情報入力</p>
    </div>
    <span><i class="fas fa-arrow-right"></i></span>
  </div>
  <div class="step">
    <div class="step-content step4">
      <p>STEP4</p>
      <p>内容確認</p>
    </div>
    <span><i class="fas fa-arrow-right"></i></span>
  </div>
  <div class="step">
    <div class="step-content">
      <p>STEP5</p>
      <p>予約完了</p>
    </div>
  </div>
</div>