<h4>アクセス</h4>
<div class="access">
  <div id="map"></div>
  <table>
    <tr>
      <td><p>住所</p></td>
      <td>
        <p>〒111-1111</p>
        <p>東京都△△△△×××××××</p>
      </td>
    </tr>
    <tr>
      <td><p>TEL</p></td>
      <td><p>000-000-0000</p></td>
    </tr>
    <tr>
      <td><p>FAX</p></td>
      <td><p>000-0000-0001</p></td>
    </tr>
    <tr></tr>
    <tr>
      <td><p>チェックイン</p></td>
      <td><p>15:00IN</p></td>
    </tr>
    <tr>
      <td><p>チェックアウト</p></td>
      <td><p>12:00OUT</p></td>
    </tr>
  </table>
</div>

<script>
  var MyLatLng = new google.maps.LatLng(35.6811673, 139.7670516);
  var Options = {
   zoom: 14,      //地図の縮尺値
   center: MyLatLng,    //地図の中心座標
   mapTypeId: "roadmap"   //地図の種類
  };
  var map = new google.maps.Map(document.getElementById("map"), Options);
</script>