<h4>アクセス</h4>
<div class="access">
  <%= image_tag "map.png", class: "map" %>
  <table>
    <tr>
      <td><p>住所</p></td>
      <td>
        <p>〒111-1111</p>
        <p>東京都△△△△×××××××</p>
      </td>
    </tr>
    <tr>
      <td><p>TEL</p></td>
      <td><p>000-000-0000</p></td>
    </tr>
    <tr>
      <td><p>FAX</p></td>
      <td><p>000-0000-0001</p></td>
    </tr>
    <tr></tr>
    <tr>
      <td><p>チェックイン</p></td>
      <td><p>15:00IN</p></td>
    </tr>
    <tr>
      <td><p>チェックアウト</p></td>
      <td><p>12:00OUT</p></td>
    </tr>
  </table>
</div>