/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

/**全体**/
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  background-color: #706A69;
  color: #e7e7e7;
  text-align: center;
}
.wrapper {
  display: inline-block;
  margin: 0 auto;
}
main {
  margin-top: 7rem;
}
h4 {
  padding-bottom: 2rem;
}
a {
  color: #e7e7e7;
  text-decoration: none;
}
a:hover {
  color: #e7e7e7;
  text-decoration: none;
}

/**ボタン**/
.button {
  margin: 2rem 2rem 5rem 2rem;
  padding: 1rem 2rem;
  color: #393c41;
  border-radius: 2rem;
  background-color: #e7e7e7;
  opacity: 0.7;
  transition: 0.3s;
  border: none;
}
.button:hover {
  opacity: 1;
  border: none;
  text-decoration: none;
  color: #393c41;
}
.button:focus {
  outline: none;
}

/**ヘッダー アニメーション**/
header {
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  0% {
    transform: translateY(-20px);
    position: fixed;
    top: 0;
    z-index: 1;
   }
  100% {
    transform: translateY(0);
    position: fixed;
    top: 0%;
    z-index: 1;
   }
}
.top-header {
  animation-name: fadein-right;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fadein-right {
   0% {
      opacity: 0.7;
      transform: translateX(50px);
      position: fixed;
      top: 0;
      z-index: 1;
   }
   100% {
      opacity: 1;
      transform: translateX(0);
      position: fixed;
      top: 0%;
      z-index: 1;
   }
}

/**各ページ ヘッダー**/
#hamberger {
  display: none;
}
.header-wrapper {
  background-color: #454345;
  width: 100vw;
  opacity: 0.9;
}
.logo {
  opacity: 0.95;
  font-size: 50px;
  color: #e7e7e7;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  padding: 2rem;
  background-color: #333233;
}
.header {
  text-align: right;
  padding: 0.7rem 2rem;
}
.link {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  opacity: 0.7;
  transition: 0.3s;
}
.link:hover {
  opacity: 1;
}

/**トップページ ナビゲーション**/
.top-header-wrapper {
  width: 100vw;
  height: 100vh;
}
.top-header {
  width: 20rem;
  text-align: right;
  position: absolute;
  right: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.top-link {
  text-align: center;
  width: 100%;
  line-height: 3.4;
  height: 25%;
  display: inline-block;
  font-size: 2.3rem;
  padding: 2rem;
  transition: 0.3s;
}
.top-link:hover {
  opacity: 0.9;
}

/**トップ ヘッダーカラー**/
.top-header .header-room {
  background-color: #4F4C4D;
}
.top-header .header-reservation {
  background-color: #474747;
}
.top-header .header-access {
  background-color: #333233;
}
.top-header .header-contact {
  background-color: #615F60;
}

/**管理者ログインページ **/
.admin-login label {
  width: 8rem;
}
.admin-login input[type=email],
.admin-login input[type=password] {
  width: 20rem;
  margin: 0.5rem;
  padding: 0.3rem;
}

/**ページング機能**/
.pagination {
  justify-content: center;
  margin: 2rem;
}
.page-link {
  color: #4c4449;
}

/***********レスポンシブ対応***********/
@media (max-width: 767px) {
  /**全体**/
  main {
    margin-top: 9rem;
}
  /**ヘッダー**/
  .logo {
    font-size: 35px;
    padding: 1.5rem 1rem;
  }
  #hamberger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 1rem;
    display: inline-block;
  }
  .header {
    width: 70%;
    height: 100vh;
    position: fixed;
    right: -70%;
    z-index: 9;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: 0.5s;
    opacity: 0.95;
    background-color: #454345;
  }
  .link {
    font-size: 35px;
    margin: 0;
  }
  .link:nth-child(1) {
    padding-top: 6rem;
  }
  .open {
    right: 0;
  }

  /**トップ ナビゲーション**/
  .top-header {
    width: 100vw;
    height: 70%;
  }
  .top-link {
    line-height: 2.2;
    width: 100%;
  }
}
