/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

/**全体**/
body {
  font-family: 'Noto Serif JP', sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #706A69;
  color: #e7e7e7;
  text-align: center;
  background-image: image-url("back.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
body::before {
  content: "";
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(112,106,105,0.9);
}
.wrapper {
  display: inline-block;
  margin: 0 auto;
}
.bottom {
  height: 2rem;
}
h4 {
  padding: 7.5rem 0 2rem;
}
a {
  color: #e7e7e7;
  text-decoration: none;
}
a:hover {
  color: #e7e7e7;
  text-decoration: none;
}

/**ボタン**/
.button {
  display: inline-block;
  margin: 2rem;
  padding: 1rem 2rem;
  color: #393c41;
  border-radius: 2rem;
  background-color: #e7e7e7;
  opacity: 0.7;
  transition: 0.3s;
  border: none;
}
.button:hover {
  opacity: 1;
  border: none;
  text-decoration: none;
  color: #393c41;
}
.button:focus {
  outline: none;
}
/**小さいボタン(検索・更新)**/
.button-mini {
  display: inline-block;
  margin: 0.5rem;
  color: #393c41;
  border-radius: 1.5rem;
  background-color: #e7e7e7;
  opacity: 0.9;
  border: none;
  padding: 0.3rem 1rem;
}
.button-mini:hover {
  opacity: 1;
  border: none;
  text-decoration: none;
}
.button-mini:focus {
  outline: none;
}

/**予約状況更新ボタン（ユーザー・管理者の予約詳細）**/
.button-flag {
  width: 20rem;
  color: #e7e7e7;
  background-color: #454345;
  opacity: 0.8;
  border: none;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
}
.button-flag:hover {
  opacity: 1;
}
.button-flag:focus {
  outline: none;
}

/**入力フォーム(お問い合わせ）**/
.form {
	position: relative;
	width: 40rem;
	margin: 3rem;
}
/*入力フォームのの幅*/
.form-wrapper .form input[type=text],
.form-wrapper .form textarea {
	width: 40rem;
	padding: 0.5rem 0.5rem 0.5rem 6rem;
	color: #333233;
}
.form-wrapper .form input[type=password],
.form-wrapper .form input[type=email] {
  width: 40rem;
	padding-left: 10rem;
	color: #333233;
}
/*入力フォームクリック時の枠線非表示*/
.form input[type=text]:focus,
.form input[type=email]:focus,
.form input[type=password]:focus,
.form textarea:focus {
	outline: none;
}
/*入力フォームの下線の設定*/
.form input[type=text],
.form input[type=email],
.form input[type=password],
.form input[type=radio],
.form textarea {
	padding: 4px 0;
	border: 0;
	background-color: transparent; /*背景透過*/
	border-bottom: 1px solid #e7e7e7;
}
/*クリック時の下線の位置・色（通常は非表示の状態）*/
.form input[type=text] ~ .focus-line,
.form input[type=email] ~ .focus-line,
.form input[type=password] ~ .focus-line,
.form textarea ~ .focus-line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #454345;
}
.form textarea ~ .focus-line {
  position: absolute;
  bottom: 6px; /*上書き*/
}
/*入力フォームをクリック時の下線*/
.form input[type=text]:focus ~ .focus-line,
.form input[type=email]:focus ~ .focus-line,
.form input[type=password]:focus ~ .focus-line,
.form textarea:focus ~ .focus-line {
	width: 100%;
}
.form textarea:focus ~ .focus-line {
  z-index: 3;
  position: absolute;
  bottom: 6px; /*上書き*/
}
/*通常時のラベルの位置・色*/
.form label{
	position: absolute;
	bottom: 0;
	left: 5px;
	text-align: left;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #e7e7e7;
}
/*ラジオボタン*/
.form input[type=radio] {
  width: 20px;
  height: 20px;
}
.form input[type=radio] + p {
  display: inline-block;
  padding: 0 3rem 0 1rem;
}

/**セレクトボックス**/
.select {
	margin: 1em auto;
	text-align: center;
	color: #e7e7e7;
}
.select select {
  color: #333233;
	padding: 0.2rem 0.5rem;
	margin: 0.2rem;
	text-indent: 0.01px;
	outline: none;
}

/**各ページ ヘッダー**/
#hamberger {
  display: none;
}
.header-wrapper {
  position: fixed;
  top: 0;
  z-index: 6;
  background-color: #454345;
  width: 100vw;
  opacity: 0.9;
}
.logo {
  width: 150px;
  height: 130px;
  opacity: 0.95;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 7;
  background-color: #333233;
}
.header {
  text-align: right;
  padding: 1rem 4rem;
}
.link {
  font-size: 18px;
  padding: 0.5rem 0 0;
  margin-left: 5rem;
  opacity: 0.7;
  transition: 0.5s;
}
.link:hover {
  opacity: 1;
}
.current {
  opacity: 1;
  border-bottom: 5px solid #a69ea0;
}

/**管理者ログインページ **/
.admin-login label {
  width: 8rem;
}
.admin-login input[type=email],
.admin-login input[type=password] {
  width: 20rem;
  margin: 0.5rem;
  padding: 0.3rem;
}

/**予約詳細（ユーザ・管理者）**/
.reservation-history {
  display: flex;
}
.reservation-box {
  margin: 1rem;
}
.reservation-history td {
  border: solid #e7e7e7 1px ;
}
.reservation-history p {
  padding: 1rem 1.5rem;
  margin: 0;
}

/**ページング機能**/
.pagination {
  justify-content: center;
  margin: 2rem;
}
.page-link {
  background-color: #494749;
  color: #e7e7e7;
  border: none;
  transition: 0.3s;
}
.page-item.active .page-link {
  color: #494749;
  background-color: #e7e7e7;
}
.page-item a:hover {
  opacity: 0.7;
  background-color: #e7e7e7;
  color: #494749;
}

/**フッター**/
.footer {
  opacity: 0.9;
  position: fixed;
  bottom: 0;
  right: 1rem;
  z-index: 7;
}
.fab:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.icon1 {
  background-color: #474747;
  padding: 1rem;
  margin: 0;
}
.icon2 {
  background-color: #333233;
  padding: 1rem;
  margin: 0;
}
.icon3 {
  background-color: #2C2925;
  padding: 1rem;
  margin: 0;
}

/**バリデーション**/
.error {
  font-size: 16px;
  background-color: rgba(69,64,63,0.85);
  color: white;
  padding: 0.1rem;
  margin: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  opacity: 0.8;
}

/******************************************************************/
/***********レスポンシブ対応***********/
@media (max-width: 767px) {
  /**全体**/
  .bottom {
    height: 5rem;
  }
  h4 {
    padding-top: 10rem;
  }

  /**予約詳細（ユーザ・管理者）**/
  .reservation-history {
    display: block;
  }
  .reservation-box {
    margin-bottom: 3rem;
  }

  /**入力フォーム**/
  .form {
    width: 100vw;
    margin: 5rem 0 0;
  }
  .form-wrapper .form input[type=text],
  .form-wrapper .form input[type=email],
  .form-wrapper .form input[type=password],
  .form-wrapper .form textarea {
    width: 90%;
    padding: 0.3rem 0.5rem 0.3rem 3rem;
  }
  .form input[type=text] ~ .focus-line,
  .form input[type=email] ~ .focus-line,
  .form input[type=password] ~ .focus-line,
  .form textarea ~ .focus-line {
  	height: 4px;
  }
  .form label {
  	position: absolute;
  	bottom: 30px;
  	left: 15px;
  }
  .select select:nth-child(1) {
  	margin-left: 4rem;
  }

  /**バリデーション**/
  .error {
    font-size: 13px;
  }
}

@media (max-width: 1020px) {
  /**ハンバーガーメニュー（各ページ・トップ）**/
  .logo {
    width: 110px;
    height: 100px;
  }

  #hamberger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    padding: 1rem;
    display: inline-block;
  }
  .header,
  .top-nav {
    width: 70%;
    height: 100vh;
    position: fixed;
    right: -70%;
    z-index: 8;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    transition: 0.5s;
    background-color: #454345;
    text-align: right;
    opacity: 0.9;
  }
  .link,
  .top-link {
    font-size: 35px;
    margin: 0 0 1rem;
    padding: 0;
  }
  .current {
    font-size: 40px;
    opacity: 1;
    border-bottom: none;
  }
  .link:nth-child(1) {
    padding-top: 3rem;
  }
  .nav-room {
    padding-top: 3.5rem;
  }
  .open {
    right: 0;
  }
}