/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

/**全体**/
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  background-color: #706A69;
  color: #e7e7e7;
  text-align: center;
}
.wrapper {
  display: inline-block;
  margin: 0 auto;
}
main {
  margin-top: 7rem;
}
h4 {
  padding-bottom: 2rem;
}
a {
  color: #e7e7e7;
  text-decoration: none;
}
a:hover {
  color: #e7e7e7;
  text-decoration: none;
}

/**ボタン**/
.button {
  margin: 2rem 2rem 5rem 2rem;
  padding: 1rem 2rem;
  color: #393c41;
  border-radius: 2rem;
  background-color: #e7e7e7;
  opacity: 0.7;
  transition: 0.3s;
  border: none;
}
.button:hover {
  opacity: 1;
  border: none;
  text-decoration: none;
  color: #393c41;
}
.button:focus {
  outline: none;
}

/**背景**/
.back-top {
  background-color: #56534C;
}
.back-bottom {
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index-: 2;
  background-color: #928C89;
}
.back-top::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 200px 100vw ;
  border-color: transparent transparent #928C89 transparent;
}

/**ヘッダー アニメーション**/
header {
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fadein {
   0% {
      opacity: 0;
      transform: translateY(-20px);
      // width: 70%;
      position: fixed;
      top: 0%;
      z-index: 1;
   }
   100% {
      opacity: 0.9;
      transform: translateY(0);
      // width: 70%;
      position: fixed;
      top: 0%;
      z-index: 1;
   }
}

/**各ページ ヘッダー**/
.header-wrapper {
  background-color: #454345;
  width: 100vw;
}
.logo {
  font-size: 50px;
  color: #e7e7e7;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  padding: 2rem;
  background-color: #333233;
}
.header {
  text-align: right;
  padding: 0.7rem 2rem;
}
.link {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  opacity: 0.7;
  transition: 0.3s;
}
.link:hover {
  opacity: 1;
}

/**トップページ ヘッダー**/
.top-header-wrapper {
  width: 100vw;
  height: 100vh;
}
.top-header {
  text-align: right;
  position: absolute;
  right: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.top-link {
  text-align: center;
  width: 100%;
  line-height: 2;
  height: 25%;
  display: inline-block;
  font-size: 3rem;
  padding: 3rem;
  opacity: 1;
}
.top-link:hover {
  opacity: 0.6;
}

/**トップ ヘッダーカラー**/
.top-header .header-room {
  background-color: #4F4C4D;
}
.top-header .header-reservation {
  background-color: #474747;
}
.top-header .header-access {
  background-color: #333233;
}
.top-header .header-contact {
  background-color: #615F60;
}

/**管理者ログインページ **/
.admin-login label {
  width: 8rem;
}
.admin-login input[type=email],
.admin-login input[type=password] {
  width: 20rem;
  margin: 0.5rem;
  padding: 0.3rem;
}

/**ページング機能**/
.pagination {
  justify-content: center;
  margin: 2rem;
}
.page-link {
  color: #4c4449;
}