// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**お問い合わせ入力画面**/
td label{
  width: 7rem;
  text-align: right;
  margin: 0.5rem 1rem;
}
td input[type=text],
td input[type=email],
td textarea {
  width: 30rem;
  margin: 0.5rem;
  padding: 0.3rem;
}

/**管理者側 お問い合わせ一覧**/
.admin-contacts h5 {
  padding-bottom: 0.5rem;
}
.admin-contacts a {
  color: #e7e7e7;
}
.admin-contacts a:hover p {
  opacity: 0.6;
  color: #e7e7e7;
}
.admin-contacts a:hover {
  text-decoration: none;
}
.contacts-body {
  overflow: hidden;
}

/**管理者側 お問い合わせ詳細**/
.admin-contact td {
  border: solid #e7e7e7 1px;
  padding: 0.5rem;
}
.admin-contact td:nth-child(odd) {
  width: 10rem;
}
.admin-contact td:nth-child(even) {
  width: 50rem;
  word-wrap: normal;
}
.contact-status select {
  font-size: 20px;
  margin: 2rem 0.5rem ;
  padding: 0.5rem;
}
.button-update {
  color: #393c41;
  border-radius: 1.5rem;
  background-color: #e7e7e7;
  opacity: 1;
  border: none;
  padding: 0.3rem 1rem;
}
.notice {
  font-size: 17px;
  background-color: #45403F;
  color: white;
  padding: 0.3rem;
  margin-top: 1rem;
  border-radius: 1rem;
  opacity: 0.8;
}