// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top_wrapper {
  width: 100vw;
}

/**トップ画像**/
.top-images {
  width: 100vw;
}
.top-image {
  position: fixed;
  top: 0px;
  left: 0;
}

/**キャッチコピー**/
.catch-copy {
  color: #e7e7e7;
  padding: 0.5rem;
  position: absolute;
  top: 32%;
  right: 30%;
  text-shadow:
    1px  1px 10px #474747,
   -1px  1px 10px #474747,
    1px -1px 10px #474747,
   -1px -1px 10px #474747,
    1px  0px 10px #474747,
    0px  1px 10px #474747,
   -1px  0px 10px #474747,
    0px -1px 10px #474747;
}
.catch-copy h4 {
  padding: 0;
  margin: 0.5rem;
  letter-spacing: 2px;
}

/**トップ フェードイン**/
.catch-copy,
.top-logo,
.top-link {
  animation-name: fadein;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**トップ　ナビゲーション**/
.top-nav-wrapper {
  width: 20%;
  height: 100vh;
  position: absolute;
  right: 0;
  background-color: rgba(112,106,105,0.9);
}
.top-nav-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  border-style: solid;
  border-color: transparent transparent rgba(112,106,105,0.9) transparent;
  border-width: 0 0 100vh 100px;
}
.top-nav {
  height: 75%;
  width: 20%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
}
.top-link {
  font-family: 'Noto Serif JP', sans-serif;
  text-align: right;
  font-size: 2.3rem;
  padding: 0 3rem 1.5rem 0;
}

/**アクセス**/
.access {
  margin: 3rem;
  width: 100vw;
  display: flex;
}
#map {
  height: 35vw;
  width: 50vw;
  filter: grayscale(70%);
}
.access p {
  margin: 0;
}
.access table {
  margin: 2rem;
}
.access tr {
  width: 50vw;
}
.access td {
  padding: 1rem;
}


/***********レスポンシブ対応***********/
@media (max-width: 1020px) {
  .catch-copy {
    position: absolute;
    top: 30%;
    right: 0;
    width: 100vw;
    padding: 0;
  }
  .catch-copy h4 {
    font-size: 20px;
  }
  .top-nav-wrapper {
    width: 5%;
    height: 100vh;
  }
  .top-nav-wrapper::before {
    border-width: 0 0 100vh 350px;
  }
  .top-nav {
    height: 65%;
    width: 25%;
  }
  .top-link {
    padding: 0 2rem 1rem 0;
  }
}

@media (max-width: 767px) {
  /**トップ キャッチコピー**/
  .catch-copy {
    position: absolute;
    top: 40%;
    right: 0;
    width: 100vw;
    padding: 0;
  }
  .catch-copy h4 {
    font-size: 15px;
    margin: 0 3px 0 0;
  }
  /**トップ ナビゲーション**/
  .top-nav-wrapper {
    display: none;
  }

  /**アクセス**/
  .access{
    width: 100vw;
    display: block;
    margin: 0;
    padding: 0;
  }
  #map {
    display: inline-block;
    height: 300px;
    width: 90%;
    margin: 0 0 2rem;
  }
  .access table {
    margin: 0;
  }
  .access table td,
  .access table th {
    width: 100vw;
    display: block;
    padding: 0.5rem;
  }
  .access td:nth-child(even) {
    margin-bottom: 2rem;
  }
}