// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**トップページ画像**/
.top-images {
  text-align: left;
  height: 100%;
  position: absolute;
  top: 0px;
}
.top-image {
  height: 100%;
  // display: inline-block;
}

/**アクセス**/
.access {
  margin: 1rem;
  width: 100vw;
  display: flex;
}
.map {
  width: 50vw;
  margin: 2rem;
  filter: grayscale(70%);
}
.access p {
  margin: 0;
}
.access table {
  margin: 2rem;
}
.access tr {
  width: 50vw;
}
.access td {
  padding: 1rem;
}


/***********レスポンシブ対応***********/
@media (max-width: 767px) {
  /**トップ**/
  .top-images {
    width: 100vw;
  }
  .top-image {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: auto;
  }
  /**アクセス**/
  .access{
    width: 100vw;
    display: block;
    margin: 0;
    padding: 0;
  }
  .map {
    width: 90vw;
    margin: 0 0 2rem;
  }
  .access table {
    margin: 0;
  }
  .access table td,
  .access table th {
    width: 100vw;
    display: block;
    padding: 0.5rem;
  }
  .access td:nth-child(even) {
    margin-bottom: 2rem;
  }


}