// Place all the styles related to the notices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**管理者側　投稿記事一覧**/
.notices {
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  padding: 2rem;
  margin: 0.5rem auto;
  width: 60%;
}
.tab {
  background-color: #333233;
  display: inline-block;
  padding: 0.5rem 1rem;
}
.notices-content {
  margin: 1rem 15%;
  text-align: left;
}
.notices-content p {
  margin: 0.5rem 0 0 0;
}

/**管理者側　記事新規投稿**/
.notice-form label {
  width: 5rem;
  vertical-align: top;
}
.notice-form input[type=text],
.notice-form textarea {
  padding: 0.2rem 0.5rem;
}
.notice-form-item {
  margin: 1rem;
}
.notice-form select {
  width: 32rem;
}

/**管理者側　編集画面**/
.notice-image {
  border-top: 1px solid #e7e7e7;
  width: 60%;
  margin: 2rem auto;
  padding: 2rem 0 0;
}

/**タブ切り替え**/
.tab-area {
  display: flex;
  justify-content: center;
}
.tab-item {
  width: 20%;
  background-color: #333233;
  border-right: 1px solid  #474747;
  border-left: 1px solid #2C2925;
}
.tab-item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.tab-item p,
.notice-content h5 {
  margin: 0;
  display: inline-block;
}
.tab-item.active {
  opacity: 0.8;
}
.tab-item:hover {
  opacity: 0.9;
}
.content-area {
  text-align: center;
}
#notice {
  width: 100%;
}
.notice-content {
  margin: 0 auto;
  padding: 1rem;
  border-bottom: 1.5px solid #333233;
  width: 80%;
}
.notice-content:last-child {
  border-bottom: none;
}
.notice-content img {
  margin: 0.5rem;
}
