// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**空室確認**/
.search label {
  width: 10rem;
}
.search input[type=date],
.search select {
  width: 20rem;
  padding: 0.3rem;
  margin: 0.5rem;
  font-size: 20px;
}
.search select {
  width: 10rem;
}
.date {
  display: flex;
}

/**客室選択**/
.room-wrapper {
  background-color: rgba(51,50,51,0.6);
  padding: 5rem 1rem 0 1rem;
  margin: 1rem 1rem 2rem;
  position: relative;
}
.room-wrapper:before {
  content: "";
  position: absolute;
  top: -60px;
  left: 47.5%;
  border: 30px solid transparent;
  border-bottom: 30px solid rgba(51,50,51,0.6);
}
.room-wrapper .room {
  display: flex;
}
.room-wrapper .room label {
  width: 33%;
  transition: 0.3s;
  margin: 0 auto;
}
.room img {
  margin: 1rem;
}
.room input[type=radio] {
  display: none;
}
.room input[type=radio]:hover + label {
  transform: scale(0.95);
  transition-duration: 0.2s;
  transform : scale(1.02);
  transition: 0.3s;
}
.room input[type=radio]:checked + label {
  opacity: 1;
  border: 2px solid rgba(231,231,231,0.5);
  transition: 0.3s;
}

/**予約確認**/
.reservation-confirm {
  display: inline-block;
  margin: 0 auto;
}
.reservation-confirm td {
  width: 10rem;
  padding: 0.5rem;
}

/******************************************************************/
/**レスポンシブ対応**/
@media (max-width: 767px) {
  /**空室確認**/
  .search label {
    margin: 0;
  }
  .date {
    display: block;
    margin: 1rem;
  }
  .error {
    font-size: 17px;
    background-color: #45403F;
    color: white;
    padding: 0.3rem;
    border-radius: 1rem;
    opacity: 0.8;
  }
  /**客室選択**/
  .room-wrapper {
    margin: 3rem 0.5rem 1rem;
  }
  .room-wrapper:before {
    position: absolute;
    left: 43%;
  }
  .room {
    display: block;
  }
  .room img {
   width: 95%;
  }

  /**情報入力画面**/
  .reservation {
    width: 100vw;
  }
  .reservation table td,
  .reservation table th {
    width: 100vw;
    display: block;
  }
  .reservation label {
    margin: 1rem 0.5rem 0.5rem;
    text-align: center;
  }
  .reservation input[type=text],
  .reservation input[type=email] {
    width: 95%;
    margin: 0;
  }
}