// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**空室確認**/
.search label {
  width: 10rem;
}
.search input[type=date],
.search select {
  width: 20rem;
  padding: 0.3rem;
  margin: 0.5rem;
  font-size: 20px;
}
.search select {
  width: 10rem;
}
.date {
  display: flex;
}
.error {
    font-size: 17px;
    background-color: #45403F;
    color: white;
    padding: 0.3rem;
    border-radius: 1rem;
    opacity: 0.8;}

/**客室選択**/
.room {
  display: flex;
}
.room img {
  margin: 1rem;
}
.room input[type=radio] {
  display: none;
}
.room label {
  opacity: 0.5;
  transition: 0.3s;
}
.room input[type=radio]:hover + label {
  opacity: 0.7;
  transform : scale(1.02);
  transition: 0.3s;
}
.room input[type=radio]:checked + label {
  opacity: 1;
}

/**情報入力画面**/
.reservation {
  display: inline-block;
  margin: 0 auto;
}
.reservation label {
  width: 7rem;
  text-align: right;
  margin: 0.5rem 1rem;
}
.reservation input[type=text],
.reservation input[type=email] {
  width: 30rem;
  margin: 0.5rem;
  padding: 0.3rem;
}
.reservation input[type=radio] {
  transform: scale(1.5);
}
.reservation input[type=radio] + label {
  width: 1rem;
}

/**予約確認**/
.confirm {
  display: inline-block;
  margin: 0 auto;
}
.confirm td {
  width: 10rem;
  padding: 0.5rem;
}

/******************************************************************/
/**管理者側 予約一覧**/
.admin-reservations h5 {
  padding-bottom: 0.5rem;
}
.admin-reservations a {
  color: #e7e7e7;
}
.admin-reservations a:hover p {
  opacity: 0.6;
  color: #e7e7e7;
}
.admin-reservations a:hover {
  text-decoration: none;
}

/**管理者側 予約詳細**/
.admin-reservation {
  display: flex;
  margin-bottom: 2rem;
}
.reservation-box {
  margin: 1rem;
}
.admin-reservation td {
  border: solid #e7e7e7 1px ;
}
.admin-reservation p {
  padding: 1rem 1.5rem;
  margin: 0;
}

/******************************************************************/
/**レスポンシブ対応**/
@media (max-width: 767px) {
  /**空室確認**/
  .search label {
    margin: 0;
  }
  .date {
    display: block;
    margin: 1rem;
  }
  .error {
    font-size: 17px;
    background-color: #45403F;
    color: white;
    padding: 0.3rem;
    border-radius: 1rem;
    opacity: 0.8;
  }
  /**客室選択**/
  .room {
    display: block;
  }
  .room img {
   width: 90%;
  }

  /**情報入力画面**/
  .reservation label {
    margin: 0.5rem 0.5rem;
  }
  .reservation input[type=text],
  .reservation input[type=email] {
    width: 100%;
  }
  .reservation input[type=radio] {
    margin-right: 0.5rem;
  }
}