// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**星（新規投稿）**/
.evaluation {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.evaluation input[type='radio'] {
  display: none;
}
.evaluation label {
  position: relative;
  padding: 0 10px 0;
  color: #e7e7e7;
  cursor: pointer;
  font-size: 40px;
}
.evaluation label:hover,
.evaluation label:hover ~ label,
.evaluation input[type='radio']:checked ~ label {
  color: #eeb75b;
}

/**レビューレイアウト**/
.review-right {
  width: 25vw;
  position: fixed;
  top: 6rem;
  right :0;
}
.review-left {
  width: 75vw;
}

/**レビュー一覧**/
.star-top {
  display: inline-block;
  margin-right: 1rem;
}
.star {
  display: inline-block;
  color:  #eeb75b;
}
.star2 {
  display: inline-block;
  color: #F0DDB0;
}
.review {
  width: 90%;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  margin: 0.5rem auto;
  padding: 2rem 3rem;
  text-align: left;
}
.review-bottom p{
  font-size: 13px;
  margin-bottom: 5px;
}

/**レビュー検索**/
.search-icon,
.review-close {
  display: none;
}
.review-form-content {
  background-color: rgba(69,67,69,0.9);
  padding: 1.5rem 1.5rem 0.5rem;
  margin: 1rem;
  text-align: left;
}
.review-form-content p {
  margin: 0.5rem 0 0;
}
.line {
  border: 1px solid #333233;
}
.review-form-content label {
  margin-right: 1.5rem;
}
#review-submit {
  display: block;
  margin: 1rem 1rem 1rem  auto;
}

/**新規投稿表示ボタン**/
.review-new {
  display: inline-block;
  background-color: #454345;
  padding: 1rem 1.5rem;
  transition: 0.3s;
}
.review-new:hover {
  color: #454345;
  background-color: #e7e7e7;
}

/**レビュー投稿ボタン**/
.review-button {
  display: inline-block;
  margin: 1rem;
  padding: 1rem 3rem;
  color: #393c41;
  border-radius: 2rem;
  background-color: #e7e7e7;
  opacity: 0.7;
  transition: 0.3s;
  border: none;
}
.review-button:hover {
  opacity: 1;
  border: none;
  text-decoration: none;
  color: #393c41;
}
.review-button:focus {
  outline: none;
}

/**モーダル表示**/
.content {
  margin: 0 auto;
  padding: 40px;
}
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal_bg {
  height: 100vh;
  width: 100%;
  position: absolute;
}
.modal_content {
  background: rgba(125,118,116,0.95);
  left: 50%;
  padding: 4rem 0 2rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid #333233;
  width: 800px;
}
.modal-close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 40px;
}

/***********レスポンシブ対応***********/
@media (max-width: 767px) {
  /**レビューレイアウト**/
  .review-right {
    width: 100vw;
  }
  .review-left {
    width: 100vw;
  }

  /**レビュー一覧**/
  .review {
    width: 100%;
  }
  .review {
    width: 90%;
    padding: 2rem 1rem;
  }

  /**新規投稿ボタン**/
  .review-new {
    padding: 0.5rem 1rem;
    position: absolute;
    top: -1rem;
    right: 1rem;
  }
  .modal_content .form-wrapper {
    width: 100vw;
  }

  /**レビュー検索**/
  .search-icon {
    position: fixed;
    bottom: 4.5rem;
    right: 1rem;
    z-index: 7;
    padding: 1rem;
    display: inline-block;
    background-color: rgba(69,67,69,0.9);
    border-radius: 50%;
  }
  .review-form {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
  }
  .review-form-bg {
    height: 100%;
    width: 100%;
  }
  .review-form-content {
    width: 100%;
    z-index: 10;
    padding-top: 0;
    margin: 0.5rem auto;
    position: absolute;
    top: 3rem;
  }
  .review-close {
    padding-top: 0.5rem;
    font-size: 40px;
    text-align: right;
    display: block;
  }

  /**モーダル表示**/
  .modal_content{
    padding: 3rem 0 1rem;
    width: 98%;
    z-index: 10;
  }
  .review-select {
    margin-top: 2rem;
  }
}