// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**客室一覧**/
.rooms {
  display: flex;
  padding: 3rem;
}
.room-image {
  width: 50%;
}
.room-content {
  width: 50%;
  padding: 3rem;
}
.rooms:nth-child(even) {
  flex-direction: row-reverse;
}
// .rooms:nth-child(odd) {
//   background-color: #413E3B;
// }

/******************************************************************/
/**レスポンシブ対応**/
@media (max-width: 767px) {
  /**客室一覧**/
  .rooms {
    display: block;
    padding: 2rem 1rem;
    width: 100vw;
  }
  .room-image {
    margin: 0 auto;
    width: 85%;
  }
  .room-content {
    width: 90%;
    margin-top: 1rem;
    padding: 0;
  }
}