// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**客室一覧**/
.rooms {
  display: flex;
  padding: 3rem;
  margin: 2rem 0;
}
.room-image {
  width: 50%;
}
.room-content {
  text-align: left;
  width: 50%;
  padding: 5rem;
}
.room1 {
  background-color: #666160;
  margin-right: 4rem;
}
.room2 {
  background-color: #7e7b7a;
  margin-left : 4rem;
}
.room3 {
  background-color: #75706D;
  margin-right: 4rem;
}
.rooms:nth-child(even) {
  flex-direction: row-reverse;
}

/******************************************************************/
/**レスポンシブ対応**/
@media (max-width: 767px) {
  /**客室一覧**/
  .rooms {
    display: block;
    padding: 2rem 1rem;
    width: 100vw;
  }
  .room-image {
    margin: 0 auto;
    width: 85%;
  }
  .room-content {
    width: 90%;
    margin-top: 1rem;
    padding: 1rem;
  }
  .room1,
  .room2,
  .room3 {
    margin: 1rem 0;
  }
}