<h4>レビュー一覧</h4>
<!--絞り込み検索-->
<%= render "reviews/review_search" %>
<a class="modal-open review-new" href="">クチコミを投稿する</a>

<!--レビュー一覧-->
<%= render "reviews/index", reviews: @reviews %>
<!--<= paginate @reviews %>-->

<!--新規投稿（モーダル表示）-->
<div class="modal">
  <div class="modal_bg modal-close"></div>
  <div class="modal_content">
    <%= render "reviews/new", review: @review %>
    <a class="modal-close" href="">×</a>
  </div>
</div>

<script>
$(function(){
  $(".modal-open").on("click",function(){
    $('.modal').fadeIn();
      return false;
  });
  $(".modal-close").on("click",function(){
    $(".modal").fadeOut();
      return false;
  });
});
</script>