<h4>レビュー一覧</h4>
<!--絞り込み検索・新規投稿ボタン-->
<span class="search-icon"><i class="fas fa-search-plus fa-2x"></i></span>
<div class="review-right">
  <div class="review-fixed">
  <a class="modal-open review-new" href="">クチコミを投稿する</a>
  <div class="review-form">
    <div class="review-form_bg review-form-close"></div>
    <%= render "reviews/review_search" %>
  </div>
  </div>
</div>

<!--レビュー一覧-->
<div class="review-left">
  <%= render "reviews/index", reviews: @reviews %>
  <div style="height: 2rem;"></div>
  <%= paginate @reviews %>
</div>

<!--新規投稿（モーダル表示）-->
<div class="modal">
  <div class="modal_bg modal-close"></div>
  <div class="modal_content">
    <%= render "reviews/new", review: @review %>
    <a class="modal-close" href="">×</a>
  </div>
</div>

<script>
/**新規投稿 モーダル表示**/
$(function(){
  $(".modal-open").on("click",function(){
    $('.modal').fadeIn();
      return false;
  });
  $(".modal-close").on("click",function(){
    $(".modal").fadeOut();
      return false;
  });
});

/**レビュー検索 モーダル表示**/
$(function(){
  $(".search-icon").on("click",function(){
    $('.review-form').fadeIn();
      return false;
  });
  $(".review-form-close").on("click",function(){
    $(".review-form").fadeOut();
      return false;
  });
});
</script>