<div class="footer">
  <a href="#"><i class="fab fa-twitter fa-2x icon1"></i></a><a href="#"><i class="fab fa-instagram fa-2x icon2"></i></a><a href="#"><i class="fab fa-facebook-square fa-2x icon3"></i></a>
</div>
